:root {
  --bg: #FBF9F7; 
  --accent: #98D6EB;
  --active: #67C4E3;
  --transaccent: rgba(152, 214, 235, 0.20);
}
.page {
    background: var(--bg);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
    gap: 4px;
}
.hdiv {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 4px
}
.vdiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 24px
}
h1 {
    color: #000;

    text-align: center;
    font-family: "Just Me Again Down Here", cursive;
    font-size: 12vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tx {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    
}


.text_field {
    border-radius: 4vw;
    padding: 8px;
    text-align: center;
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    border: 2px solid var(--accent);
    background: var(--transaccent);
    transition: border 0.2s ease;
    width:40vw;
    height: 7vw;

}
.text_field:hover {
    border: 2px solid var(--active);
}

.text_field:focus {
    border: 2px solid var(--active);
}

.submit {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;;
    border-radius: 4vw;
    background: var(--accent);
    cursor: pointer; /* Change cursor to a hand icon on hover */
    transition: background-color 0.2s ease;
    border: 0px;
    padding: 12px;
    
}

.submit:hover {
    background: var(--active);
}